.fields {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 0.6em;
}

.dialog {
    padding: 2em;
    width: 36em;
}

.submitDialog {
    padding: 2em;
    width: 24em;
}

.receiptImage {
    align-items: center;
}